{% extends 'merchant_login_base.html' %}

{% block css %}
<style>
    hr{border-top : 1px solid #e7e7e7;}
</style>
{% endblock %}
{% block content%}
    <div class="d-flex flex-column pt-5 mt-5 align-items-center">
        <h2>Sign In</h2>
        <p class="small mb-0">To Merchant Account</p>
        <form action="" class="col-md-3" method="POST">
            <label>Email</label>
            <input type="text" name="email" id="email" class="form-control mb-3">
            <label>Password</label>
            <input type="password" name="password" id="password" class="form-control mb-2">
            <p id="error" class="text-danger small pt-2"></p>
            <button type="submit" id="submit_btn" class="btn btn-success btn-block mb-3" style="font-size: 17px;">Continue</button>
        </form>
        <div class="col-md-3 row">
            <div class="col-md-4 px-0 py-1">
                <hr class="mx-0 my-2">
            </div>
            <div class="col-md-4 px-0 text-center">
                <span class="small text-muted">New Merchant?</span>
            </div>
            <div class="col-md-4 px-0 py-1">
                <hr class="mx-0 my-2">
            </div>
            <a href="{{ url_for('merchant.register') }}" class="btn btn-outline-dark btn-sm btn-block my-3" style="font-size: 17px;">Create Account</a>
        </div>
    </div>
{% endblock %}