{% extends 'merchant_base.html' %}


{% block css %}
<style>
    .product_img{
        height: 180px;
        width: 160px;
    }
    .product_name{
        font-size: 15px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="d-none">
        <span id="delete_tender_url">{{ url_for('merchant.delete_tender') }}</span>
    </div>
    <div class="container my-5">
        {% if tender_requests %}
            <div id="accordion" class="my-3">
                {% for tender in tender_requests %}
                <div class="card my-3">
                    <div class="card-header">
                        <a class="card-link d-flex justify-content-between" data-toggle="collapse" href="#collapse_{{tender[1].id}}">
                            <div>
                                Draft #{{tender[0]}} 
                            </div>
                            <p class="mb-0">{{tender[1].status}} On - {{tender[1].status_updated_on.strftime("%d %b %Y")}} </p>
                        </a>
                    </div> 
                    <div id="collapse_{{tender[1].id}}" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Total Amount - {{tender[1].total_amount}}<br>
                                    Advance Amount - {{tender[1].advance_amount}}
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="delete_block text-center mx-2">
                                        <button class="btn btn-outline-danger delete_draft" id="delete_draft_{{tender[1].id}}">Delete Draft</button>
                                    </div>
                                </div>
                            </div>
                            <h6>Products</h6>
                            <div class="d-flex flex-wrap px-4 justify-content-around">
                                {% for tender_product in tender[1].products.all() %}
                                <div class="col-md-3 border p-4 mx-4 my-3">
                                    <div class=" text-center">
                                    <img src="{{ url_for('static', filename='product_images/'+tender_product.product_obj.image) }}" class=" product_img">
                                    </div>
                                    <p class="product_name pt-2 mb-0">{{tender_product.product_obj.name}}</p>
                                    {% if tender_product.product_obj.specifications %}
                                    <p class="small text-muted mb-2">{{tender_product.product_obj.specifications}}</p>
                                    {% endif %}
                                    <h5><b>₹{{tender_product.product_obj.marked_retail_price}}</b></h5>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            {% if tender_product.product_obj.rating %}
                                            <span class="bg-success small text-light px-2 py-1 rounded">
                                                {{tender_product.product_obj.rating}} <i class="fa fa-star small"></i>
                                            </span>
                                            {% endif %}
                                        </div>
                                        <div class="d-flex align-items-center">
                                            Quantity - {{tender_product.quantity}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <hr>
            <h3 class="text-muted text-center">No Records Found</h3>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        
        $(document).on("click",".delete_draft",function(){
            let id= $(this).attr("id").split("_")[2];
            let delete_block = $("#collapse_"+id).find(".delete_block");
            let confirmation_msg = $("<p class='mb-2'>Are you sure, you want to delete this draft?<p>\
            <button id='cancel_delete_"+id+"' class='btn btn-outline-secondary cancel_delete mx-2'>No</button>\
            <button id='delete_"+id+"' class='btn btn-success mx-2 delete'>Yes</button>\
            ");
            $(delete_block).html(confirmation_msg);
            $("#collapse_"+id).find(".request_tender_block").addClass("d-none")
        })

        $(document).on("click",".cancel_delete", function(){
            let id= $(this).attr("id").split("_")[2];
            let delete_block = $("#collapse_"+id).find(".delete_block");
            let confirmation_msg = $("<button class='btn btn-outline-danger delete_draft' id='delete_draft_"+id+"'>Delete Draft</button>");
            $(delete_block).html(confirmation_msg);
            $("#collapse_"+id).find(".request_tender_block").removeClass("d-none")

        })
        
        function delete_tender(tender_id) {
            return $.ajax({
                type: "POST",
                url: $("#delete_tender_url").text(),
                data: { tender_id: tender_id },
            }).then((response) => {
                if (response["status"]=='success'){
                    window.location.reload();
                }
            });
        }

        $(document).on("click",".delete", function(){
            let id=Number($(this).attr("id").split("_")[1]);
            delete_tender(id)
        });
    });
</script>
{% endblock %}