{% extends "admin_main_base.html" %}

{% block css %}
<style>
    .product_img{
        height: 180px;
        width: 160px;
    }
    .product_name{
        font-size: 15px;
    }
    
</style>
{% endblock %}
{% block content %}
    <div class="d-none" id="urls">
        <span class="approve_tender_url">{{ url_for('admin.approve_tender') }}</span>
        <span class="reject_tender_url">{{ url_for('admin.reject_tender') }}</span>
        <span class="return_tender_url">{{ url_for('admin.return_tender') }}</span>
        <span class="fetch_delivery_persons">{{ url_for('admin.fetch_delivery_persons') }}</span>
        <span class="received_delivery_url">{{ url_for('admin.received_delivery') }}</span>
    </div>
    <div class="container my-5">
        {% if tenders %}
            <div id="accordion" class="my-3">
                {% for tender in tenders %}
                <div class="card border-0 shadow my-3">
                    <div class="px-3 py-2">
                        <a class="card-link mt-2 d-flex justify-content-between" data-toggle="collapse" href="#collapse_{{tender[1].id}}">
                            <h5>
                                Tender #{{tender[0]}}  &nbsp;&nbsp;( Requested By {{ tender[1].user.merchants.first().name }} ) 
                            </h5>
                            {% if tender[1].status=="Assigned" %}
                                <p class="mb-0">{{tender[1].status}} To {{ tender[1].pickup.first().user.name }} On - {{tender[1].status_updated_on.strftime("%d %b %Y %I:%M %p")}} </p>
                            {% else %}
                                <p class="mb-0">{{tender[1].status}} On - {{tender[1].status_updated_on.strftime("%d %b %Y %I:%M %p")}} </p>
                            {% endif %}
                        </a>
                    </div> 
                    <div id="collapse_{{tender[1].id}}" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Total Amount - {{tender[1].total_amount}}<br>
                                    Advance Amount - {{tender[1].advance_amount}}
                                </div>
                                <div class="d-flex align-items-center">
                                    {% if tender[1].status=="Requested" %}
                                    <div class="approve_tender_block text-center mx-2">
                                        <button class="btn btn-outline-success approve_tender" id="approve_tender_{{tender[1].id}}">Approve Tender</button>
                                    </div>
                                    <div class="reject_block text-center mx-2">
                                        <button class="btn btn-outline-danger reject_draft" id="reject_draft_{{tender[1].id}}">Reject Tender</button>
                                    </div>
                                    {% elif tender[1].status=="Approved" %}
                                        {% if tender[1].paid_amount >= tender[1].advance_amount %}
                                        <div class="assign_delivery_block text-center mx-2">
                                            <button class="btn btn-outline-success assign_delivery" id="assign_delivery_{{tender[1].id}}">Assign Delivery</button>
                                        </div>
                                        {% else %}
                                        <a href="{{ url_for( 'admin.add_transaction', tender_id=tender[1].id, next_url=url_for('admin.merchant_tenders', merchant_id=tender[1].user.id) ) }}" class="">Add Transaction of Amount ₹{{ tender[1].advance_amount -  tender[1].paid_amount }}</a>
                                        {% endif %}
                                    {% elif tender[1].status=="Assigned" %}
                                        {% if tender[1].pickup.first().status=="Delivered" %}
                                        <div class="received_delivery_block text-center mx-2">
                                            <button class="btn btn-outline-success received_delivery" id="received_delivery_{{tender[1].id}}">Received Delivery</button>
                                        </div>
                                        {% else %}
                                        <p class="">Delivery {{ tender[1].pickup.first().status }}</p>
                                        {% endif %}
                                    {% elif tender[1].status=="Recieved" %}
                                        {% if tender[1].paid_amount != tender[1].total_amount %}
                                            <a href="{{ url_for( 'admin.add_transaction', tender_id=tender[1].id, next_url=url_for('admin.merchant_tenders', merchant_id=tender[1].user.id) ) }}" class="mx-2">Add Transaction of Amount ₹{{ tender[1].total_amount -  tender[1].paid_amount }}</a>
                                            <div class="return_tender_block text-center mx-2">
                                                <button class="btn btn-outline-danger return_tender" id="return_tender_{{tender[1].id}}">Return Tender</button>
                                            </div>
                                        {% endif %}
                                    {% elif tender[1].status=="Returned" and  tender[1].paid_amount > 0 %}
                                        <a href="{{ url_for( 'admin.add_transaction', tender_id=tender[1].id, next_url=url_for('admin.merchant_tenders', merchant_id=tender[1].user.id) ) }}" class="">Add Refund Transaction of Amount ₹{{ tender[1].paid_amount }}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <h6>Products</h6>
                            <div class="d-flex flex-wrap px-4 justify-content-around">
                                {% for tender_product in tender[1].products.all() %}
                                <div class="col-md-3 border p-4 mx-4 my-3">
                                    <div class=" text-center">
                                    <img src="{{ url_for('static', filename='product_images/'+tender_product.product_obj.image) }}" class=" product_img">
                                    </div>
                                    <p class="product_name pt-2 mb-0">{{tender_product.product_obj.name}}</p>
                                    {% if tender_product.product_obj.specifications %}
                                    <p class="small text-muted mb-2">{{tender_product.product_obj.specifications}}</p>
                                    {% endif %}
                                    <h5><b>₹{{tender_product.product_obj.marked_retail_price}}</b></h5>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            {% if tender_product.product_obj.rating %}
                                            <span class="bg-success small text-light px-2 py-1 rounded">
                                                {{tender_product.product_obj.rating}} <i class="fa fa-star small"></i>
                                            </span>
                                            {% endif %}
                                        </div>
                                        <div class="d-flex align-items-center">
                                            Quantity - {{tender_product.quantity}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% if tender[1].transactions.all() %}
                            <div class="">
                                <p>
                                    <a class="" data-toggle="collapse" href="#transactions_collapse_{{ tender[1].id }}" role="button" aria-expanded="false" aria-controls="transactions_collapse_{{ tender[1].id }}">
                                    Transactions <i class="fa fa-arrow-right pl-2" aria-hidden="true"></i>
                                    </a>
                                </p>
                                <div class="collapse" id="transactions_collapse_{{ tender[1].id }}">
                                    <table class="table border text-center">
                                        <tr>
                                            <th>Amount</th>
                                            <th>Payment Mode</th>
                                            <th>Payment Date</th>
                                            <th>Transaction Type</th>
                                        </tr>
                                        {% for transaction in tender[1].transactions.all() %}
                                            <tr>
                                                <td>₹{{ transaction.amount }}</td>
                                                <td>{{ transaction.mode }}</td>
                                                <td>{{ transaction.payment_date.strftime("%d %b %Y %I:%M %p") }}</td>
                                                {% if transaction.transaction_type=="C" %}
                                                    <td>Credited</td>
                                                {% else %}
                                                    <td>Debited</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <hr>
            <h3 class="text-muted text-center">No Records Found</h3>
        {% endif %}
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="assign_delivery_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded">
                <div class="modal-body text-center">
                    <div class="no_delivery_person_available d-none text-cente">
                        <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="{{url_for('admin.static', filename='delivery_boy.jpg')}}" style="width: 180px; height: 140px;">
                        <h4 class="mt-3 mb-4" style="font-size: 15px;">No Delivery Person Available</h4>
                    </div>
                    <form action="{{ url_for('admin.assign_delivery_persons') }}" method="POST" class="m-3 text-left">
                        <input type="hidden" class="tender_id" name="tender_id" required>
                        <div class="form-group">
                            <label>Delivery Person</label>
                            <select class="delivery_persons form-control" name="delivery_person_id" required>
                            </select>
                        </div>
                        <div class="mx-3 mb-2 text-right">
                            <button type="submit" class="btn btn-success ml-auto mr-3 assign_delivery"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Yes</button>
                            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $(document).on("click",".approve_tender",function(){
            let id= $(this).attr("id").split("_")[2];
            let approve_tender_block = $("#collapse_"+id).find(".approve_tender_block");
            let confirmation_msg = $("<p class='mb-2'>Are you sure, you want to approve this tender request?<p>\
            <button id='cancle_approve_tender_"+id+"' class='btn btn-outline-secondary cancle_approve_tender mx-2'>No</button>\
            <button id='approve_"+id+"' class='btn btn-success mx-2 approve'>Yes</button>\
            ");
            $(approve_tender_block).html(confirmation_msg);
            $("#collapse_"+id).find(".reject_block").addClass("d-none")
        })

        $(document).on("click",".cancle_approve_tender", function(){
            let id= $(this).attr("id").split("_")[3];
            let approve_tender_block = $("#collapse_"+id).find(".approve_tender_block");
            let confirmation_msg = $("<button class='btn btn-outline-success approve_tender' id='approve_tender_"+id+"'>Approve Tender</button>");
            $(approve_tender_block).html(confirmation_msg);
            $("#collapse_"+id).find(".reject_block").removeClass("d-none")

        })
        
        function approve_tender(tender_id) {
            return $.ajax({
                type: "POST",
                url: $("#urls span.approve_tender_url").text(),
                data: { tender_id: tender_id },
            }).then((response) => {
                if (response["status"]=='success'){
                    window.location.reload();
                }
            });
        }

        $(document).on("click",".approve", function(){
            let id=Number($(this).attr("id").split("_")[1]);
            approve_tender(id)
        });

        $(document).on("click",".reject_draft",function(){
            let id= $(this).attr("id").split("_")[2];
            let reject_block = $("#collapse_"+id).find(".reject_block");
            let confirmation_msg = $("<p class='mb-2'>Are you sure, you want to reject this tender?<p>\
            <button id='cancel_reject_tender_"+id+"' class='btn btn-outline-secondary cancel_reject_tender mx-2'>No</button>\
            <button id='reject_"+id+"' class='btn btn-success mx-2 reject'>Yes</button>\
            ");
            $(reject_block).html(confirmation_msg);
            $("#collapse_"+id).find(".approve_tender_block").addClass("d-none")
        })

        $(document).on("click",".cancel_reject_tender", function(){
            let id= $(this).attr("id").split("_")[3];
            let reject_block = $("#collapse_"+id).find(".reject_block");
            let confirmation_msg = $("<button class='btn btn-outline-danger reject_draft' id='reject_draft_"+id+"'>Reject Tender</button>");
            $(reject_block).html(confirmation_msg);
            $("#collapse_"+id).find(".approve_tender_block").removeClass("d-none")

        })
        
        function reject_tender(tender_id) {
            return $.ajax({
                type: "POST",
                url: $("#urls span.reject_tender_url").text(),
                data: { tender_id: tender_id },
            }).then((response) => {
                if (response["status"]=='success'){
                    window.location.reload();
                }
            });
        }

        $(document).on("click",".reject", function(){
            let id=Number($(this).attr("id").split("_")[1]);
            reject_tender(id)
        });
    


        // Return Tender
        $(document).on("click",".return_tender",function(){
            let id= $(this).attr("id").split("_")[2];
            let return_tender_block = $("#collapse_"+id).find(".return_tender_block");
            let confirmation_msg = $("<p class='mb-2'>Are you sure, you want to return this tender?<p>\
            <button id='cancle_return_tender_"+id+"' class='btn btn-outline-secondary cancle_return_tender mx-2'>No</button>\
            <button id='return_"+id+"' class='btn btn-success mx-2 return'>Yes</button>\
            ");
            $(return_tender_block).html(confirmation_msg);
            $("#collapse_"+id).find(".reject_block").addClass("d-none")
        })

        $(document).on("click",".cancle_return_tender", function(){
            let id= $(this).attr("id").split("_")[3];
            let return_tender_block = $("#collapse_"+id).find(".return_tender_block");
            let confirmation_msg = $("<button class='btn btn-outline-danger return_tender' id='return_tender_"+id+"'>Complete Tender</button>");
            $(return_tender_block).html(confirmation_msg);
            $("#collapse_"+id).find(".reject_block").removeClass("d-none")

        })
        
        function return_tender(tender_id) {
            return $.ajax({
                type: "POST",
                url: $("#urls span.return_tender_url").text(),
                data: { tender_id: tender_id },
            }).then((response) => {
                if (response["status"]=='success'){
                    window.location.reload();
                }
            });
        }

        $(document).on("click",".return", function(){
            let id=Number($(this).attr("id").split("_")[1]);
            // console.log("Return-->",id);
            return_tender(id)
        });
        // End

        // Assign Delivery
        $(document).on("click", ".assign_delivery", function(){
            let tender_id= $(this).attr("id").split("_")[2];
            $("#assign_delivery_modal .tender_id").val(tender_id);
            $.ajax({
                type : "GET",
                url: $("#urls span.fetch_delivery_persons").text(),
                async : false
            }).then((response)=>{
                if(response.length>0){
                    $("#assign_delivery_modal .no_delivery_person_available").addClass("d-none")
                    $("#assign_delivery_modal form").removeClass("d-none");
                    let options = '<option value="" selected disabled>Select a Delivery Person</option>'
                    options += response.map(obj=>{
                        return (`<option value="${obj.id}">${obj.name}</option>`)
                    }).join("")
                    $("#assign_delivery_modal select[name='delivery_person_id']").empty();
                    $("#assign_delivery_modal select[name='delivery_person_id']").append($(options));
                    $("#assign_delivery_modal").modal("show");
                }else{
                    $("#assign_delivery_modal .no_delivery_person_available").removeClass("d-none")
                    $("#assign_delivery_modal form").addClass("d-none");
                    $("#assign_delivery_modal").modal("show");
                }
            })
        });
        // End


        // Received Delivery
        function received_delivery(tender_id){
            return $.ajax({
                type: "POST",
                url: $("#urls span.received_delivery_url").text(),
                data: { tender_id: tender_id },
            }).then((response) => {
                if (response["status"]=='success'){
                    window.location.reload();
                }
            });
        }
        
        $(document).on("click", ".received_delivery", function(){
            let id= $(this).attr("id").split("_")[2];
            let received_delivery_block = $("#collapse_"+id).find(".received_delivery_block");
            let confirmation_msg = $("<p class='mb-2'>Are you sure, you want to receive this tender?<p>\
            <button id='cancle_receive_tender_"+id+"' class='btn btn-outline-secondary cancle_receive_tender mx-2'>No</button>\
            <button id='receive_"+id+"' class='btn btn-success mx-2 receive'>Yes</button>\
            ");
            $(received_delivery_block).html(confirmation_msg);
        });

        $(document).on("click",".cancle_receive_tender", function(){
            let id= $(this).attr("id").split("_")[3];
            let received_delivery_block = $("#collapse_"+id).find(".received_delivery_block");
            let confirmation_msg = $(` <button class="btn btn-outline-success received_delivery" id="received_delivery_${id}">Received Delivery</button>`);
            $(received_delivery_block).html(confirmation_msg);
        })

        $(document).on("click", ".receive", function(){
            let tender_id= $(this).attr("id").split("_")[1];
            received_delivery(tender_id)
        })
        // End
    })
</script>
{% endblock %}