<!DOCTYPE html>
<html>
    <head>
        <title>SK</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        <!-- Jquery Validator -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
            integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"
            integrity="sha256-vb+6VObiUIaoRuSusdLRWtXs/ewuz62LgVXg2f1ZXGo=" crossorigin="anonymous"></script>
        <!-- End -->

        <script src="https://kit.fontawesome.com/32ee507fe4.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    </head>

    <style>
        #flash_message {
            position: absolute;
            left: 50%;
            z-index: 2;
            transform: translateX(-50%);
        }

        #flash_message .alert {
            text-align: center;
            border-radius: 10px;
        }
    </style>

    {% block css %}
    {% endblock %}

    <body>
        <!-- Flash Messages -->
        <div id="flash_message" class="">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                            <div class="alert alert-{{ category }} shadow-sm border-0" role="alert">
                                {{ message }}
                            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <!-- End -->

        {% block content %}
        {% endblock %}
    </body>


    <script>
        $(document).ready(function(){
            setTimeout(function () {
                $("#flash_message .alert").alert("close");
                $("#flash_message").hide(500);
            }, 4000)
        })
    </script>

    {% block js %}
    {% endblock %}
</html>
